.attend
  margin 20px auto 0
  .attend-class
    font-size 20px
    line-height 20px
    margin 20px
    .class-name
      color #8b0000
      overflow hidden
    .class-num
      font-size 6px
      line-height 10px
      width 5px
      height 5px
      border 1px solid rgba(7,17,27,0.3)
  .attend-stu
    width 90%
    margin 10px auto
    line-height 28px
    .stu-item
      display inline-block
    .item-name
      width 60%
      text-align left
    .item-state
      width 24%
      text-align center
    .item-time
      width 16%
      text-align right
      color rgba(7,17,27,0.7)
      font-size 12px
    .leaving
      color #14ff11
    .leaved
      color #8deeee
    .attended
      color #ff1c1a
    .unattend
      color #7e8c8d
