.partinfo-main
  width 94%
  margin 30px auto
  .partinfo-top
    .topleft-name
      width 30%
      margin 10px 20px 0 0
      display inline-block
      vertical-align top
      .text-type
        width 100%
        .el-dropdown-link
          width 100%
          text-align center
          display block
          height 30px
          line-height 30px
          color #4bd6d6
          border 1px solid rgba(7,17,27,0.2)
          border-radius 6px
      .name-message
        margin-top 6px
        text-align center
        font-size 40px
    .topright-name
      display inline-block
      width 54%
      padding-left 6%
      .name-part
        width 40%
        display inline-block
        vertical-align top
        line-height 30px
        font-size 16px
        opacity 0.3
      .name-name
        width 55%
        display inline-block
        line-height 30px
        font-size 16px
        opacity 0.4
        .partinfoicon
          opacity 1
          visibility hidden
  .partinfo-bottom
    border-top 2px solid rgba(7,17,27,0.2)
    //border-bottom 2px solid rgba(7,17,27,0.2)
    margin-top 30px
    display flex
    .bottom-items
      flex 1
      text-align center
      padding 6px 0 0
      color #83dede
      & > a
        display: block /*超链接自动充满格子*/
        text-decoration: none
        font-size: 14px
        color: #83dede
        line-height 40px
        width 100%
        &.active
          width 100%
          border-bottom #83dede 2px solid

  .partinfo-modal
    transition all 0.4s ease-in-out
    position fixed
    z-index 1
    left 0
    bottom -100%
    height auto
    width 100%
    background-color white
    padding 20px 0 30px
    border-top 1px solid rgba(7,17,27,0.11)
    .modal-li
      width 94%
      margin 0 auto
      font-size 16px
      line-height 40px
      .modal-name
        color #83dede
        display inline-block
        margin-left 10px
        width 86%
        border-bottom 1px solid rgba(7,17,27,0.1)
